.form-container {
    width: 320px;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: skyblue;
    text-align: center;
    color: #fff;
    margin-top: 150px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
  }
  
  input::placeholder {
    color: #555;
  }
  
  input:focus {
    background-color: #f8f9fa;
  }
  
  button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  

  
  p {
    margin-top: 15px;
    font-size: 14px;
    color: #1100ff;
    font-weight: bold;
  }
.toggle-btn{
  text-align: center;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background-color: white;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}